.note {
    padding: 1px;
    margin: 1px 2px 2px 1px;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    min-height: 0.6em;
    clear: both;
    position: relative;
}

.note_bottom_bg {
    background-image: url('img/note_bottom.png');
    background-repeat: repeat-x;
    background-position: center bottom;
    border-bottom-width: 0px;    
}

.note_short {
    float: left;
    width: 30%;
    clear: none;
}

.note_selected {
    -webkit-box-shadow: 1px 1px 1px #888888;
    float: inherit;
    width: inherit;
    clear: both;
    background-image: none !important;
}

.note_selected:after {
    content: attr(data-content);
    float: right;
    font-size: 0.8em;
    margin-top: 1px;
    margin-right: -2px;
    padding: 0 0.3em 0 0.3em;
    background-color: #efefef;
    display: block;
    border: 1px solid #888888;
    -webkit-box-shadow: 1px 1px 1px #888888;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.note_after {
}

.note_menu {
    float: right;
    display: none;
}

.note_text {
    width: 100%;
}

.note_tags {
    float: right;
    min-height: 1.2em;
}

.tag_button {
    color: #222;
}

.note_tags_button {
    float: left;
}

.note_tag {
    margin: 0.1em;
    padding: 0px 0.2em 0px 0.2em;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid #aaaaaa;
    background-color: #dddddd;
    border-radius: 1em;
    min-width: 1em;
    float: left;
}

.note_bottom_bg .note_tags  {
    margin-bottom: 0.3em;
}

.note_bottom_bg .note_line_show .note_tags  {
    margin-bottom: 0em;
}

.note_tag_selected {
    -webkit-box-shadow: 0px 1px 1px #888888;
    font-weight: bold;
}

.inline_sheet {
    margin-left: 2px;
    margin-right: 2px;
}

.sheet_top {
    padding: 2px;
    text-align: center;
}

.sheet_close {
    color: #222222;
}

.sheet_div {
    padding-bottom: 2px;
}

.clear {
    clear: both;
}

.calendar_place {
    position: relative;
    margin-top: 0.2em;
}

.calendar_grid {
    display: table;
    width: 100%;
    border-right: #000000 solid 2px;
}

.days_row {
    display: table-row;
    left: 0px;
    right: 0px;
}

.day, .month, .year, .arrow {
    display: table-cell;
    text-align: center;
    margin-left: 3px;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #eeeeee;
    background-color: #424254;
    min-width: 20%;
}

.day:active {
    background-color: #CC2A41;    
}

.navigation {
    width: 100%;
    text-align: center;
    color: #eeeeee;
}

.leftArrow {
    float: left;
}

.rightArrow {
    float: right;
    margin-right: 5px !important;
}

.arrow {
    padding: 0.5em;
    min-width: 2em;
}

.icon_center {
    margin: 0px;
}

.month_year {
    text-align: center;
}

.month, .year {
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
}

.day_name {
    font-weight: bold;
    background-color: #000000;
}

.week_name {
    background-color: #000000;
}

.week_day {
    background-color: #351330;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}

.today {
    background-color: #64908A;
    font-weight: bold;
}

.weekend {
    color: #ff8888;
}

.time_place {
}

.day_hour, .days_day {
    position: relative;
    min-height: 0.8em;
    border-bottom: 1px dotted #888888;
    clear: both;
}

.timeline_header {
    clear: both;
    font-size: 0.7em;
    color: #222222;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-top: 1px dotted #888888;
}

.days_caption {
    font-size: 0.7em;
    color: #222222;
    text-align: center;
}

.day_hour_caption {
    position: absolute;
    left: 2px;
    top: -2px;
    font-size: 0.7em;
    color: #222222;
    vertical-align: top;
}

.day_hour_notes {
    padding-left: 1.5em;
}

.note_line {
}

.note_line_hide {
    display: none;
}

.note_line_show {
    display: block !important;
}

.now_line {
    position: absolute;
    background-color: #ff0000;
    height: 2px;
    width: 0.3em;
}

.sync_progress {
    opacity: 0.7;
}

#sync_indicator {
    position: fixed;
    top: 0px;
    height: 4px;
    z-index: 11;
    background-color: #ff0000;
}

.sheet_root, .inline_sheet, .note_inline_hours {
    background-color: #E8CAA4;
    padding-bottom: 2px;
}

.note_inline_hours {
    border: 1px dotted #888888;
    margin: 0.3em;
    padding: 0;
    border-bottom-width: 0;
}

.note_inline_notes {
    background-color: #E8CAA4;
    margin: 0.2em;
    margin-left: 1em;
    padding: 0.2em;
    border: 1px dotted #888888;
}

.note_word {
    float: left;
    padding-right: 0.4em;
    font-size: 0.9em;
}

.note_checkbox {
    float: left;
}

.has_gradient {
    background-repeat: repeat-x;
}

.mColorPickerTrigger {
    border-color: #eeeeee !important;
}

.left_icon {
    float: left;
}

.note_frame {
    text-align: center;
}

.note_image {
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
}

.map_editor {
    margin: 5px;
}

.marker_date {
    text-align: center;
    padding: 3px;
    color: #efefef;
}

#channel_indicator {
    position: absolute;
    top: 0px;
    right: 4em;
    width: 2em;
    height: 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: #aa0000;
    border: 1px solid #222222;
    border-top-width: 0px;
    z-index: 14;
    cursor: pointer;
}

.channel_data {
    background-color: #aaaa00 !important;
}

.channel_ok {
    background-color: #00aa00 !important;
}

.tag_link, .note_link {
    color: #222222;
}

.ic_check_yes {
    background-image: url(img/check_yes.png);
}

.ic_check_no {
    background-image: url(img/check_no.png);
}

.ic_notes {
    background-image: url(img/notes.png);
}

.ic_time_down {
    background-image: url(img/time_down.png);
}

.note_contact_table {
    width: 100%;
}

.note_contact_name_cell .note_word {
    float: right;
    font-weight: bold;
}

.note_tag_display_selected {
    display: none;
}

.note_selected .note_tag_display_selected {
    display: block;
}

.note_contact_cell {
    vertical-align: top;
}

.note_time_down {
    display: none;
    float: right;
}

.note_selected .note_time_down {
    display: block;
}
