.note {
    padding: 1px;
    margin: 1px 2px 2px 1px;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    min-height: 5px;
}

.note_selected {
    -webkit-box-shadow: 1px 1px 1px #888888;
}

.note_menu {
    float: right;
    display: none;
}

.note_text {
    width: 100%;
}

.note_tags {
    float: right;
}

.note_button {
    margin: 1px;
    color: #000000;
    outline: none;
    text-decoration: none;
    background-color: #424254;
    padding: 3px;
}

.tag_button {
    color: #222;
}

.note_tags_button {
    float: left;
}

.note_tag {
    margin: 1px;
    padding: 0px 2px 0px 2px;
    font-size: 0.7em;
    text-align: center;
    min-width: 20px;
    border: 1px solid #aaaaaa;
    background-color: #dddddd;
    border-radius: 10px;
    float: left;
}

.note_tag_selected {
    -webkit-box-shadow: 0px 1px 1px #888888;
    font-weight: bold;
}

.inline_sheet {
    margin-left: 2px;
    margin-right: 2px;
}

.sheet_top {
    padding: 2px;
    text-align: center;
}

.sheet_close {
    color: #222222;
}

.sheet_div {
    padding-bottom: 2px;
}

.clear {
    clear: both;
}

.calendar_place {
    position: relative;
}

.calendar_grid {
    display: table;
    width: 100%;
    border-right: #000000 solid 2px;
}

.days_row {
    display: table-row;
    left: 0px;
    right: 0px;
}

.day {
    display: table-cell;
    text-align: center;
    border-left: #000000 solid 3px;
    border-bottom: #000000 solid 3px;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #eeeeee;
    background-color: #424254;
}

.navigation {
    width: 100%;
    text-align: center;
    color: #eeeeee;
}

.leftArrow {
    float: left;
}

.rightArrow {
    float: right;
    margin-right: 5px !important;
}

.arrow {
    margin: 3px;
    padding: 4px;
    background-color: #424254;
    overflow: hidden;
    min-width: 20px;
    text-align: center;
}

.icon_center {
    margin: 0px;
}

.month {
    text-align: center;
    padding-top: 3px;
}

.day_name {
    font-weight: bold;
    background-color: #000000;
}

.disabled {
    opacity: 0.5;
}

.today {
    background-color: #64908A;
    font-weight: bold;
}

.weekend {
    color: #ff8888;
}

.time_place {
}

.time_hour {
    width: 40px;
    margin: 3px;
    float: left;
    padding: 2px;
    border: 1px solid #555555;
    border-radius: 10px;
    text-align: center;
    color: #eeeeee;
}

.time_in_hour {
    display: none;
}

.time_is_hour {
    cursor: pointer;
}

.day_hour {
    position: relative;
    min-height: 12px;
    border-bottom: 1px dotted #888888;
}

.day_hour_caption {
    position: absolute;
    left: 2px;
    top: 1px;
    font-size: 0.7em;
    color: #222222;
    vertical-align: top;
}

.day_hour_notes {
    padding-left: 25px;
}

.note_line {
}

.note_line_hide {
    display: none;
}

.note_line_show {
    display: block !important;
}

.now_line {
    position: absolute;
    background-color: #ff0000;
    height: 2px;
    width: 3px;
}

.sync_progress {
    opacity: 0.7;
}

#sync_indicator {
    position: absolute;
    top: 0px;
    height: 4px;
    width: 100%;
    z-index: 11;
    background-color: #ff0000;
}

.sheet_root, .inline_sheet {
    background-color: #E8CAA4;
    padding-bottom: 2px;
}

.note_word {
    float: left;
    padding-right: 3px;
    font-size: 0.9em;
}

.note_checkbox {
    float: left;
}

.has_gradient {
    background-repeat: repeat-x;
}

.mColorPickerTrigger {
    border-color: #eeeeee !important;
}

.left_icon {
    float: left;
}

.geo {
    text-align: center;
}

.geo_image {
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
}