body {
    background-color: #000000;
}

.note_tag {
    font-size: 1.1em;
}

.note {
    min-height: 2em;
    padding-top: 1em;
    padding-left: 1em;
}

.day_hour_caption {
    font-size: 0.8em;
}

.day_hour {
    min-height: 2em;
}
