.note {
    padding: 2px;
    margin: 1px 2px 2px 1px;
    border: 1px solid #aaaaaa;
    background-color: #efd334;
    cursor: pointer;
    min-height: 5px;
}

.note_selected {
    -webkit-box-shadow: 1px 1px 1px #888888;
}

.note_menu {
    float: right;
    display: none;
}

.note_text {
    float: left;
}

.note_tags {
    float: left;
    min-height: 22px;
}

.note_button {
    margin: 2px;
    color: #000000;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
}

.note_tags_button {
    float: left;
}

.note_button:hover {
    -webkit-box-shadow: 0px 0px 2px #888;
}

.note_button:active {
    background-color: #aaaaaa;
}

.button_white {
    -webkit-box-shadow: 0px 0px 0px #888888;
    background-image: none;
}

.note_tag {
    margin: 1px;
    padding: 0px 2px 0px 2px;
    font-size: 0.75em;
    text-align: center;
    min-width: 20px;
    border: 1px solid #aaaaaa;
    background-color: #dddddd;
    border-radius: 10px;
    float: left;
}

.note_tag_selected {
    -webkit-box-shadow: 0px 1px 1px #888888;
    font-weight: bold;
}

.inline_sheet {
    margin-left: 2px;
    margin-right: 2px;
}

.sheet_top {
    padding: 2px;
    text-align: center;
}

.sheet_close {
    color: #222222;
}

.sheet_div {
    padding-bottom: 2px;
}

.clear {
    clear: both;
}

.day {
    width: 14.3%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #eeeeee;
}

.navigation {
    width: 100%;
    text-align: center;
    color: #eeeeee;
}

.leftArrow {
    float: left;
}

.rightArrow {
    float: right;
}

.arrow {
    margin: 2px;
    padding: 3px;
    background-color: #dddddd;
    overflow: hidden;
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    min-width: 20px;
    text-align: center;
}

.icon_center {
    margin: 0px;
}

.month {
    text-align: center;
    padding-top: 3px;
}

.day_name {
    font-weight: bold;
}

.disabled {
    opacity: 0.5;
}

.today {
    font-weight: bold;
}

.weekend {
    color: #ff0000;
}

.time_place {
}

.time_hour {
    width: 40px;
    margin: 3px;
    float: left;
    padding: 2px;
    border: 1px solid #555555;
    border-radius: 10px;
    text-align: center;
    color: #eeeeee;
}

.time_in_hour {
    display: none;
}

.time_is_hour {
    cursor: pointer;
}

.day_hour {
    position: relative;
    min-height: 12px;
    border-bottom: 1px dotted #dddddd;
}

.day_hour_caption {
    position: absolute;
    left: 2px;
    top: 1px;
    font-size: 0.7em;
    color: #aaaaaa;
}

.day_hour_notes {
    padding-left: 25px;
}

.note_line_hide {
    display: none;
}

.note_line_show {
    display: block !important;
}

.now_line {
    position: absolute;
    background-color: #ff0000;
    height: 2px;
    width: 3px;
}

.sync_progress {
    opacity: 0.7;
}

#sync_indicator {
    position: absolute;
    top: 0px;
    height: 4px;
    width: 100%;
    z-index: 11;
    background-color: #ff0000;
}

.sheet_root, .inline_sheet {
    background-color: #EFFAB4;
    padding-bottom: 2px;
}

.note_word {
    float: left;
    padding-right: 3px;
}

.note_checkbox {
    float: left;
}

.has_gradient {
    background-repeat: repeat-x;
}

.mColorPickerTrigger {
    border-color: #eeeeee !important;
}